.main-title {
  text-align: center;
}

.brand {
  line-height: 40px;
  font-size: 36px;
}

.nav-item {
  margin: 0px;
}

.cards {
  margin: 0 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;  
}

.card {
  background-color: lightblue;
  border-radius: 5px;
  margin: 5px;
  height: 200px;
}

.favorite-button {
  float: right;
  margin: 8px 8px 0 0;
}