/* Body and Navbar */
body, .main {
  background: lightblue;
}
.main-title {
  text-align: center;
}

.brand {
  line-height: 40px;
  font-size: 36px;
}

.brand:hover {
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

.nav-item {
  margin: 0px;
}

/* Cards */
.cards {
  margin: 5% 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 300px);
  grid-gap: 10px;  
}

.card {
  position: relative;
  border-radius: 5px;
  margin: 5px;
  height: 100%;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: black;
  border-radius: 50%;
}

.card-description {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .card-overlay {
  opacity: .90;
  cursor: pointer;
}

.favorite-button {
  color: black;
  position: absolute;
  bottom: 0;
  right: 3%;
}

/* Images */

.cat-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.cat-image-modal {
  display: block;
  margin: auto;
}

.cat-description {
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 5px;
  bottom: 2%;
  left: 50%;
  margin-right: -50%;
}


/* Modal */
.modal-background {
  background-color: rgba(255,255,255,0.5);
}

.modal-body, .modal-footer {
  background: black;
  color: white;
}